<app-home></app-home>

<div class="container mt-5">
    <div class="card-header text-center bg-secondary text-white p-3 shadow-lg rounded mb-4">
        <h2>Reservation Form</h2>
    </div>
    <div class="card-body">
        <form class="row g-3" [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
            <div class="col-md-6">
                <label for="checkInDate" class="form-label">Check-In Date</label>
                <input type="date" id="checkInDate" class="form-control" formControlName="checkInDate">
                <small
                    *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched"
                    class="text-danger">
                    Check-in date is required.
                </small>
            </div>
            <div class="col-md-6">
                <label for="checkOutDate" class="form-label">Check-Out Date</label>
                <input type="date" id="checkOutDate" class="form-control" formControlName="checkOutDate">
                <small
                    *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched"
                    class="text-danger">
                    Check-out date is required.
                </small>
            </div>
            <div class="col-md-6">
                <label for="guestName" class="form-label">Guest Name</label>
                <input type="text" id="guestName" class="form-control" formControlName="guestName">
                <small *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched"
                    class="text-danger">
                    Guest name is required.
                </small>
            </div>
            <div class="col-md-6">
                <label for="guestEmail" class="form-label">Guest Email</label>
                <input type="email" id="guestEmail" class="form-control" formControlName="guestEmail">
                <small *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched"
                    class="text-danger">
                    Guest email is required.
                </small>
            </div>
            <div class="col-md-6">
                <label for="roomNumber" class="form-label">Room Number</label>
                <input type="number" id="roomNumber" class="form-control" formControlName="roomNumber">
                <small *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched"
                    class="text-danger">
                    Room number is required.
                </small>
            </div>

            <div class="row">
                <div class="d-flex justify-content-start gap-2">
                    <button class="btn btn-secondary mt-3" [routerLink]="['/list']">Cancel</button>
                    <button type="submit" class="btn btn-primary mt-3"
                        [disabled]="!reservationForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>